[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.3"
requests = "==2.31.0"
pylint-django = "==2.5.3"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
